.main{
    @apply w-full h-full flex flex-col items-end pr-8;
}

.svgcontainer {
    @apply flex ;
}

.svg{ 
    @apply my-4; 
   height: 26px;
   width: 26px;
}
.twittersvg{ 
    @apply my-4; 
    
   height: 26px;
   width: 26px;
}