.main{
    @apply  min-h-screen flex flex-col pr-4 ;
}

.svgcontainer {
    @apply flex hover:bg-[#f0ecec] px-4  hover:transform duration-200 rounded-full hover:cursor-pointer;
}

.itemscontainer{
    @apply flex flex-col fixed items-end w-full;
}
.main{
    @apply h-full min-h-screen;
   
}
.svg{ 
    @apply my-4; 
   height: 26px;
   width: 26px;
}
.bigsvg{ 
    @apply my-4 bg-primary p-2 rounded-full; 
   height: 48px;
   width: 48px;
}
.twittersvg{ 
    @apply my-4 -mr-2; 
    
   height: 30px;
   width: 30px;
}





@screen xs {
    .svglabel{
        @apply hidden;
    }
    .main{
        @apply hidden;
    }
    .itemscontainer{
        width: 18%;
    }
}

@screen sm {

}

@screen md {
    .main{
        @apply block;
        width: 18%;
    }
    .itemscontainer{
        width: 18%;
    }
    
}

@screen lg {
    .main{
        width: 18%;
    }
    .itemscontainer{
        width: 17%;
    }
  
    
}

@screen xl {
    .svglabel{
        display:block;
    }
    .svglabelcontainer{
        @apply  flex justify-start items-center mt-1 tracking-wider text-lg ;
        
    }
    .svglabel{
        @apply ml-3;
        width: 40%;
    }
    .svgcontainer{
        width:50%;
    }
    .main{
        width: 31%;
    }
    .itemscontainer{
        width: 30%;
    }
}

@screen 2xl {

}