.main{
    @apply w-full h-full min-h-screen flex flex-row;
}

.sidebarcontainer{
    @apply h-full min-h-screen;
   
}

.content{
    @apply h-full min-h-screen border-l border-r border-[#f0f2f8] mt-3;
   
}

.explorecontainer{
    @apply h-full min-h-screen;
    
}
.replymodal{
    @apply z-40 absolute w-screen h-screen overflow-hidden;
}

.backgroundcontainer{
    @apply   w-full h-full bg-[#000000] bg-opacity-40 ;
}

.modalcontainer {
    @apply w-full h-full z-50 absolute flex items-center justify-center;

}

.modal{
    @apply px-20 py-20 absolute z-50  bg-primary;
    height: 200px;
    width:200px;
}
@screen xs {

}

@screen sm {

}

@screen md {
    .content{
        width: 64%;
    }

    .sidebarcontainer{
        width: 18%;
    }
}

@screen lg {
    .content{
        width: 54%;
    }

    .sidebarcontainer{
        width: 23%;
    }
}

@screen xl {
    .content{
        width: 32%;
    }

    .sidebarcontainer{
        width: 31%;
    }
}

@screen 2xl {

}