.postcontainer {
    @apply w-full h-full flex flex-row pb-1 pt-4 hover:cursor-pointer border-[#f0f2f8]  border-b hover:bg-[#f8f6f6] hover:transition-transform duration-200; 
}

.profilepicture{
    @apply rounded-full;
    width: 50px;
    height: 50px;

}
.picturecontainer{
    @apply ml-4 ;
}

.sidecontainer {
    width: 70px;
}

.primarycontainer{
    @apply w-full mx-4;
}

.authorcontainer{
    @apply w-full flex flex-row ;
}

.author {
   @apply font-bold mr-1 hover:underline hover:cursor-pointer; 
}

.authorhandle{
    @apply text-[#717274] hover:cursor-pointer;
} 

.interactionsbar{
    @apply flex flex-row w-full justify-evenly py-1 pt-3 ;
}

.svgcontainer{
    @apply flex justify-start items-start;
    width:25%;
    height:30px;
}

.svg{
    @apply hover:bg-[#9acdfa] hover:bg-opacity-40 rounded-full mr-2;
    width: 18px;
    height: 18px;
}

.imagecontainer{
    @apply flex flex-col items-center w-full py-2 justify-center;
    
}
.image{
    @apply rounded-lg;
}


.replycount{
    @apply text-[#b1acac];
    font-size: 0.85rem;
    margin-top: -0.15rem;
}
.retweetoptionsmodal {
    @apply flex flex-col absolute mt-4 -ml-12 z-50 bg-background px-2 rounded-lg py-1 shadow;
}


.optionsmodal {
    @apply flex flex-col absolute -ml-12 z-50 bg-background px-2 rounded-lg py-1 shadow;
}

.optionscontainer {
    @apply -mt-6 pr-2;
}

.modaloption{
    @apply text-xs my-1 hover:bg-lightGray;
}

.hide {
    @apply hidden;
}