.replymodal{
    @apply z-40 absolute w-screen h-screen overflow-hidden;
}

.backgroundcontainer{
    @apply   w-full h-full bg-[#000000] bg-opacity-40 flex flex-col items-center justify-center;
}

.modalcontainer {
    @apply  h-full flex flex-col items-center justify-start z-50 pt-16 ;

}

.modal{
    @apply px-20 py-20 absolute z-50  bg-primary;
    height: 200px;
    width:200px;
}
.postcontainer {
    @apply w-full flex flex-row pb-1 pt-2  hover:cursor-pointer bg-background;
}
.secondarypostcontainer {
    @apply w-full flex flex-row hover:cursor-pointer text-sm bg-background;
}

.exitbuttoncontainer {
    @apply w-full bg-background rounded-t-2xl;
}

.exitbutton{
    @apply p-5;
}
.profilepicture{
    @apply rounded-full;

}
.picturecontainer{
    @apply ml-4 h-full ;
}

.sidecontainer {
   @apply h-full;
    width: 70px;
}
.svgcontainer {
    @apply flex  rounded-full hover:bg-primary hover:bg-opacity-20;
}

.postenhancementscontainer{
    @apply flex flex-row pt-16 bg-background w-full pb-2 rounded-b-2xl;
    padding-left: 3.5rem;
}

.svg{ 
    @apply m-2 hover:cursor-pointer hover:fill-primary; 
    color: #1e9cf1;
   height: 18px;
   width: 18px;
}
.primarycontainer{
    @apply w-full mx-4;
}


.buttoncontainer{
    @apply w-full pr-4 flex justify-end;
}

.replybutton {
    @apply py-1 px-4 bg-primary text-background font-semibold rounded-full;
}

.replycontainer {
    @apply w-full bg-background flex flex-row pr-4;
}

.replytextarea{
    @apply w-full outline-none pt-3 pl-4 overflow-y-visible resize-none text-lg;
    height: auto;
    scroll-behavior: smooth;
   
}

.authorcontainer{
    @apply w-full flex flex-row ;
}

.author {
   @apply font-bold mr-1 hover:underline hover:cursor-pointer; 
}

.authorhandle{
    @apply text-[#717274] hover:cursor-pointer;
} 

.replyingto {
    @apply text-[#b8b6b6] w-full py-4;
    padding-left: 4.7rem;
}

.replyhandle{
    @apply hover:cursor-pointer text-primary;
}

@screen xs {

}

@screen sm {

}

@screen md {
    .postcontainer{
        @apply flex items-center justify-center;
        
    }
    .modalcontainer {
        width:64%;
        height:100%;
    
    }
    .replyingto {
        @apply text-[#b8b6b6];
    width:60%;
    }
    
}

@screen lg {

}
@screen xl {
}

@screen 2xl {

}