.main{
    @apply  absolute z-50;
    width:80%;
 
}

.modalcontainer{
  @apply bg-[#d1c8c8];
}

.svgcontainer{
  @apply flex justify-start items-start;
  width:100%;
  height:30px;
}

.svg{
  @apply hover:bg-[#9acdfa] hover:bg-opacity-40 rounded-full;
  width: 18px;
  height: 18px;
}

@screen xs {

}

@screen sm {

}

@screen md {
    .main{
      
        width: 64%;
    }
    .explorecontainer{
        width: 18%;
    }
    .sidebarcontainer{
        width: 18%;
    }
}

@screen lg {
    .content{
        width: 54%;
    }
    .explorecontainer{
        width: 23%;
    }
    .sidebarcontainer{
        width: 23%;
    }
}

@screen xl {
    .content{
        width: 32%;
    }
    .explorecontainer{
        width: 37%;
    }
    .sidebarcontainer{
        width: 31%;
    }
}

@screen 2xl {

}