.main{
    @apply w-full h-full min-h-screen bg-background ;
}

.content{
    @apply flex flex-col items-start justify-start z-40 h-full bg-background;
    font-family: 'Roboto';
    width:60%;
}
.link {
    @apply text-[#399ef1];
}
.imgbarlarge{
    @apply hidden z-0;
}
.imglarge{
    @apply hidden z-0;
}
.main {
    @apply flex flex-col items-center;
 }
.boldmessage {
    @apply text-7xl font-semibold tracking-wide mb-10;
    line-height: 1.2;
}
.joinmessage{
    @apply text-4xl font-semibold mb-8;
}

.topcontent{
    @apply flex flex-col items-start justify-start;
}
.buttonbox{
    @apply flex flex-col w-full h-full items-start justify-start ;
}
.button{
    @apply w-72 mb-3 flex flex-row text-sm rounded-full border border-lightGray px-8 py-2 items-center justify-center;
}
.applebutton{
    @apply w-72 mb-2 flex flex-row font-semibold text-sm rounded-full border border-lightGray px-8 py-2 items-center justify-center;
}
.signupbutton{
    @apply w-72 mb-2 flex flex-row font-semibold text-sm rounded-full border border-lightGray px-8 py-2 items-center justify-center text-background bg-primary;
}
.disclaimermessage{
    @apply mt-16 font-bold mb-4;
}
.signinbutton{
    @apply w-72 mb-12 text-primary font-semibold flex flex-row text-sm rounded-full border border-lightGray px-8 py-2 items-center justify-center;
}
.buttonsvg{
    @apply w-4 h-4 mr-2;
    display: block;
}
.svg{
    @apply mb-14 mt-8;
    padding-bottom: 12px;
    height: 3.5rem;
    color: rgb(29, 155, 240);
    align-self: flex-start;
    fill: currentcolor;
    max-width: 100%;
    display: inline-block;
    position: relative;
    vertical-align: text-bottom;
}
.or{
    @apply w-72 flex items-center justify-center mb-1;
}
.agreementmessage{
    @apply text-xs w-80;
}
.imgbar{
    @apply w-full flex items-center justify-center h-80 relative;
}

@screen xs {

}

@screen sm {

}

@screen md {
    .topcontent{
        width:90%;
    }
   
    
}

@screen lg {
    .main {
        @apply bg-background flex flex-row;
     }

     .content{
        @apply pl-8 h-screen;
     }

     .imgbar{
        @apply hidden;
     }
     .imgbarlarge{
        @apply w-screen h-screen flex justify-center items-center ;
        
     }

     .img{
        @apply relative;
     }

}

@screen xl {

}

@screen 2xl {

}