
.content{
    @apply h-full min-h-screen border-l border-r border-[#f0f2f8] mt-3;
   
}

.homenavigatebar {
    @apply w-full flex flex-row hover:cursor-pointer;
    height: 50px;
}

.navtext {
    @apply text-xl font-bold pl-8;
}

.navsvg {
    @apply mt-2 ml-2;
    width: 35px;
    height: 20px;
}
.svg{
    @apply hover:bg-[#9acdfa]  hover:bg-opacity-40 border border-lightGray p-2 rounded-full;
    width: 38px;
    height: 38px;
}
.svgcontainer{
    @apply flex justify-center mx-1 items-center;

  
}
.extrasvg{
    @apply fill-[#c0bcbc];
    width: 20px;
    height: 24px;
}
.extrainfocontainer {
    @apply mx-1 flex flex-row mb-2 ;
}
.pic{
    @apply  rounded-full ;
}

.picborder{
    @apply rounded-full;
}

.profilepicturecontainer{
    @apply  absolute z-50 pt-32 pl-4 ;
}

.profileinteractbar {
    @apply flex flex-row w-full justify-end;
}
.extrainfo{
    @apply flex flex-row mx-2;
}

.followbuttoncontainer{
    @apply  p-2 pr-4;
}

.followbutton{
    @apply px-4 border rounded-full font-semibold border-[#dadada];
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.followcontainer{
    @apply mx-4;
}
.following{
    @apply mx-2;
    font-size: 0.9rem;
}
.filternavigationbar{
    @apply w-full flex flex-row  border-b border-[#eceaea] ;
}
.filternavitem{
    @apply py-4 text-center font-semibold hover:transform hover:bg-[#f1efef] hover:cursor-pointer duration-200;
    width: 21%
}
.filternavitemlarge{
    @apply py-4 text-center hover:transform hover:bg-[#f1efef] hover:cursor-pointer duration-200 font-semibold;
    width: 37%
}

.followers{
    @apply mx-2;
    font-size: 0.9rem;
}
.namescontainer {
    @apply flex flex-col mx-4 mt-8 mb-2;
}

.name{
    @apply font-bold text-xl tracking-tight leading-tight;
}

.handle{
    @apply text-[#8a8585];
    font-size: 0.95rem;
}

.biocontainer{
    @apply w-full mb-2;
}

.bio{
    @apply m-4 tracking-tight;
}

@screen xs {

}

@screen sm {

}

@screen md {
    .content{
        width: 64%;
    }
   
    .explorecontainer{
        width: 18%;
    }
    .sidebarcontainer{
        width: 18%;
    }
}

@screen lg {
    .content{
        width: 54%;
    }
    .explorecontainer{
        width: 23%;
    }
    .sidebarcontainer{
        width: 23%;
    }
}

@screen xl {
    .content{
        width: 32%;
    }
    .explorecontainer{
        width: 37%;
    }
    .sidebarcontainer{
        width: 31%;
    }
}

@screen 2xl {

}