.main{
    @apply w-full h-full flex flex-row border-[#f0f2f8]  border-b;
}

.picturecontainer{
    @apply pt-4 pl-4;
}

.profilepic{
    @apply rounded-full;

}

.middlecontainer{
    height:15%;
    width:85%;
}

.sidecontainer{
    @apply flex flex-col;
    width: 15%;
}

.topbar{
    @apply w-full  bg-background font-bold pl-4 text-xl; 
}
.textboxcontainer{
    @apply w-full  flex-wrap flex overflow-x-visible;
}

.textbox{
    @apply w-full outline-none focus:pt-10 flex-wrap flex h-full;
}

.bottombarcontainer{
    @apply flex flex-col;
}
.svgcontainer {
    @apply flex;
}

.postenhancementscontainer{
    @apply flex flex-row;
}

.svg{ 
    @apply my-4; 
    color: #1e9cf1;
   height: 26px;
   width: 26px;
}